In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# Assignment 5

In [8]:
df = pd.read_csv('Thermodynamics Data set.csv')
df.head()

,Substance,Formula,Molecular weight,Temp. [R],Pressure [Psi],Volume [ft3/lbm]
0,Ammonia,NH3,17.031,729.9,1646.0,0.0682
1,Argon,Ar,39.948,271.4,706.0,0.0300
2,Bromine,Br2,159.808,1058.4,1494.0,0.0127
3,Carbon dioxide,CO2,44.010,547.4,1070.0,0.0342
4,Carbon monoxide,CO,28.010,239.2,508.0,0.0533

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Substance         42 non-null     object
 1   Formula           42 non-null     object
 2   Molecular weight  42 non-null     float64
 3   Temp. [R]         42 non-null     float64
 4   Pressure [Psi]    42 non-null     float64
 5   Volume [ft3/lbm]  42 non-null     float64
dtypes: float64(4), object(2)
memory usage: 2.1+ KB

# Q1

In [10]:
df.describe()

       Molecular weight    Temp. [R]  Pressure [Psi]  Volume [ft3/lbm]
count         42.000000    42.000000       42.000000         42.000000
mean          60.575643   618.802857      803.988095          0.063540
std           39.776981   287.575057      501.993450          0.079805
min            2.016000     9.340000       32.900000          0.012700
25%           30.022000   409.750000      536.750000          0.030875
50%           46.037500   660.750000      708.500000          0.047150
75%           85.583500   810.750000      891.000000          0.068875
max          159.808000  1165.100000     3208.000000          0.517000

In [11]:
df.describe(include='object')

       Substance Formula
count         42      42
unique        42      41
top     Ammonia    C3H8
freq           1       2

# Q2

In [12]:
df.corr(numeric_only=True)

,Molecular weight,Temp. [R],Pressure [Psi],Volume [ft3/lbm]
Molecular weight,1.000000,0.537078,-0.105742,-0.402675
Temp. [R],0.537078,1.000000,0.445113,-0.360093
Pressure [Psi],-0.105742,0.445113,1.000000,-0.287710
Volume [ft3/lbm],-0.402675,-0.360093,-0.287710,1.000000